<!DOCTYPE html>
<html>
    <head>
        <title>Employees List</title>
    </head>
    <body>
        <a href="addEmployee">Add New Employee</a>
        <h1>Employees List</h1>
        <table>
            <thead>
                <th>Employee ID</th>
                <th>Employee Name</th>
                <th>Employee Salary</th>
                <th>Department Name</th>
            </thead>
            <tbody>
                {% for emp in employees %}
                <tr>
                    <td>{{emp.employee_id}}</td>
                    <td>{{emp.employee_name}}</td>
                    <td>{{emp.employee_salary}}</td>
                    <td>{{emp.department_name}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>